{% extends 'status/base.html' %}
{% block title %}Request Not Processed{% endblock %}
{% block card %}
        {% include 'status/_scene.html' with symbol='form' label='Illustration: a screen with a rejected form' %}
        <h1 class="err-title">We couldn't process that request</h1>
        <p class="err-text">Something about the request wasn't right. Go back and try again, or head back to your dashboard.</p>
        <div class="err-actions">
            <a href="/" class="err-btn" data-err-back>{% include 'status/_icon.html' with name='back' %}Go back</a>
            <a href="/" class="err-btn is-secondary">{% include 'status/_icon.html' with name='home' %}Back to Dashboard</a>
        </div>
{% endblock %}
