{% extends 'status/base.html' %}
{% block title %}Access Denied{% endblock %}
{% block card %}
        {% include 'status/_scene.html' with symbol='lock' label='Illustration: a screen with a padlock' %}
        <h1 class="err-title">Access denied</h1>
        <p class="err-text">You don't have permission to view this page. If you believe this is a mistake, contact your QA Office administrator.</p>
        <div class="err-actions">
            <a href="/" class="err-btn">{% include 'status/_icon.html' with name='home' %}Back to Dashboard</a>
            <a href="/" class="err-btn is-secondary" data-err-back>{% include 'status/_icon.html' with name='back' %}Go back</a>
        </div>
{% endblock %}
